__pycache__/
apikeys.txt
Prompt_Eng_Performance - Semantic search query examples - SOLR indexing_v0.21.xlsx
asset/per-protein.h5
asset/per-protein.zip
venv
protein_embeddings.ann
protein_embeddings_1.ann
protein_embeddings_2.ann
protein_embeddings_3.ann
protein_embeddings.zip
uniprot_sprot.fasta.gz
uniprot_sprot.fasta
protein_analysis_results.xlsx
gpu_memory_usage_log.txt
selected_proteins_10000.fasta
selected_proteins_1000.fasta
protein_index.zip
protein_index.db
protein_index_1.db
protein_index_2.db
protein_index_3.db
modeldir/
goa_uniprot_all.gpa.gz
goa_uniprot_all.gpa
goa_uniprot_updated.gpa
go-basic.obo
protein_embeddings_2.zip